services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    restart: unless-stopped
    ports:
      - "11434:11434"
    volumes:
      - ollama_models:/root/.ollama
      - ./Modelfile:/app/Modelfile

  app:
    build: .
    container_name: inclusion-bot
    depends_on:
      - ollama
    volumes:
      - .:/app
    environment:
      - OLLAMA_HOST=http://ollama:11434
    command: python app.py

volumes:
  ollama_models:
    name: ollama_modelscoo